<div class="row">
  <div class="span12">
    <div class="well">
      <p id="notice" class="alert alert-success"><%= notice %></p>

      <p>
        <b>First name:</b>
        <%= @player.first_name %>
      </p>

      <p>
        <b>Last name:</b>
        <%= @player.last_name %>
      </p>

      <p>
        <b>Handle:</b>
        <%= @player.handle %>
      </p>

      <div class="actions form-actions">
        <%= link_to 'Edit', edit_player_path(@player), :class => 'btn btn-primary' %>
        <%= link_to 'Back', players_path, :class => 'btn' %>
      </div>
    </div>
  </div>
</div>
